* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  font-family: 'Raleway', sans-serif;
  color: #644033;
  scroll-behavior: smooth; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 48em) {
    html {
      font-size: 42%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 37%; } }

body {
  background-color: #fff;
  box-sizing: border-box; }

h1,
h2,
h3 {
  font-family: 'Amatic SC', cursive; }

h1 {
  color: #f27e3a;
  font-size: 6rem; }
  @media only screen and (max-width: 23.5em) {
    h1 {
      font-size: 5rem; } }
  @media only screen and (max-width: 20.06em) {
    h1 {
      font-size: 4.4rem; } }

h2 {
  color: #000000;
  font-size: 4.5rem;
  text-transform: uppercase;
  letter-spacing: .7rem;
  display: flex;
  align-items: center;
  border-top: 1px dotted #f27e3a;
  border-bottom: 1px dotted #f27e3a;
  text-shadow: 2px 2px 0px #f27e3a; }
  @media only screen and (max-width: 23.5em) {
    h2 {
      font-size: 4rem; } }

h3 {
  color: #f27e3a;
  font-size: 2rem; }

p {
  font-family: 'Amatic SC', cursive;
  font-size: 2rem; }

span.bold {
  display: contents;
  color: #EB600F; }

/* The navigation bar */
.navibar {
  display: grid; }

.navbar {
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.575);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(9rem, 1fr));
  justify-content: center;
  align-content: center;
  height: 4.5rem; }
  @media only screen and (max-width: 37.5em) {
    .navbar {
      grid-template-columns: repeat(auto-fit, minmax(9rem, 1fr));
      height: 5rem; } }
  @media only screen and (max-width: 26.6em) {
    .navbar {
      height: 5rem; } }
  @media only screen and (max-width: 23.5em) {
    .navbar {
      height: 8rem; } }
  .navbar__list {
    display: grid;
    list-style: none; }
  .navbar__list:first-child {
    margin-left: 3rem; }
    @media only screen and (max-width: 56.25em) {
      .navbar__list:first-child {
        margin-left: 3rem; } }
    @media only screen and (max-width: 37.5em) {
      .navbar__list:first-child {
        margin-left: 0; } }
  .navbar__list:last-child {
    margin-right: 2rem; }
    @media only screen and (max-width: 56.25em) {
      .navbar__list:last-child {
        margin-right: 2rem; } }
    @media only screen and (max-width: 37.5em) {
      .navbar__list:last-child {
        margin-right: 0; } }
  .navbar a:link,
  .navbar a:visited {
    display: grid;
    justify-content: center;
    align-content: center;
    font-family: 'Amatic SC', cursive;
    font-size: 3rem;
    color: #000;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 2px 0px #f27e3a;
    height: 5.3rem;
    transition: 0.5s;
    clip-path: polygon(95% 0, 100% 50%, 95% 100%, 0% 100%, 5% 50%, 0% 0%); }
    @media only screen and (max-width: 43.75em) {
      .navbar a:link,
      .navbar a:visited {
        clip-path: none; } }
    @media only screen and (max-width: 37.5em) {
      .navbar a:link,
      .navbar a:visited {
        height: 5rem; } }
    @media only screen and (max-width: 26.6em) {
      .navbar a:link,
      .navbar a:visited {
        height: 4rem; } }
  .navbar a:active,
  .navbar a:hover {
    background: #fff;
    letter-spacing: .1rem;
    clip-path: polygon(95% 0, 100% 50%, 95% 100%, 0% 100%, 5% 50%, 0% 0%); }
    @media only screen and (max-width: 43.75em) {
      .navbar a:active,
      .navbar a:hover {
        clip-path: none; } }
    @media only screen and (max-width: 37.5em) {
      .navbar a:active,
      .navbar a:hover {
        height: 5rem; } }
    @media only screen and (max-width: 26.6em) {
      .navbar a:active,
      .navbar a:hover {
        height: 4rem; } }

.header {
  height: 75rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/hero.jpg);
  background-size: cover;
  background-position: left;
  background-attachment: fixed;
  display: grid;
  grid-template-rows: 37rem 11rem 5rem;
  justify-items: center;
  align-items: end;
  background-color: #f7f7f7; }
  @media screen and (min-width: 640px) and (max-width: 1024px) and (orientation: landscape) {
    .header {
      grid-template-rows: minmax(28rem, min-content) minmax(10rem, min-content) minmax(1rem, min-content); } }
  @media only screen and (max-width: 43.75em) {
    .header {
      grid-template-rows: 37rem 11rem 3rem; } }
  @media only screen and (max-width: 26.6em) {
    .header {
      grid-template-rows: 37rem 11rem 5rem; } }
  .header__logo {
    border-radius: 50%; }
  .header__logo-1 {
    display: grid;
    border-radius: 50%;
    justify-items: center;
    align-self: flex-end;
    width: 25rem;
    height: 25rem; }
    @media screen and (min-width: 640px) and (orientation: landscape) {
      .header__logo-1 {
        width: 15rem;
        height: 15rem; } }
  .header__text {
    display: grid;
    grid-row: 2 / 3;
    justify-self: center;
    align-self: flex-end;
    text-transform: uppercase;
    letter-spacing: 0.7rem;
    border-bottom: 1px solid #f27e3a;
    text-shadow: 2px 2px 0px #000; }
  .header__text-ad {
    margin-top: 1rem;
    text-shadow: 2px 2px 0px #000;
    letter-spacing: 0.1rem; }
    @media only screen and (max-width: 23.5em) {
      .header__text-ad {
        letter-spacing: 0.2rem;
        width: 72%;
        text-align: center; } }

.menu {
  background-color: #f7f7f7; }
  .menu__heading {
    display: grid;
    justify-items: center;
    padding-top: 4rem; }
  .menu__short {
    padding: 0 7rem;
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    justify-items: center;
    row-gap: 3rem;
    column-gap: 3rem; }
    @media only screen and (max-width: 37.5em) {
      .menu__short {
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr)); } }
    @media only screen and (max-width: 26.6em) {
      .menu__short {
        padding: 0 3rem; } }
    @media only screen and (max-width: 23.5em) {
      .menu__short {
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr)); } }
  .menu__card {
    display: grid;
    justify-items: center; }
  .menu__image {
    display: grid;
    justify-items: center;
    width: 30rem;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.25);
    transition: transform .5s, opacity .5s;
    transform: scale(1);
    opacity: 0.9; }
    @media only screen and (max-width: 37.5em) {
      .menu__image {
        width: 23rem; } }
    @media only screen and (max-width: 23.5em) {
      .menu__image {
        width: 30rem; } }
  .menu__image:hover {
    transform: scale(1.03);
    opacity: 1; }
  .menu__text {
    display: grid;
    justify-items: center;
    padding: 0.3rem;
    width: 60%;
    background-color: #422a22;
    transform: translateY(-60%); }
    @media only screen and (max-width: 43.75em) {
      .menu__text {
        width: 70%; } }

.headingmenu {
  margin-bottom: 5rem;
  display: grid;
  justify-items: center;
  grid-column: 1 / -1;
  width: 40rem;
  font-size: 2.3rem;
  font-weight: bold;
  color: #f27e3a;
  font-family: 'Amatic SC', cursive; }
  .headingmenu a:link,
  .headingmenu a:visited {
    display: inline-block;
    color: #f27e3a;
    text-decoration: none;
    transition: all .2s; }
  .headingmenu a:hover,
  .headingmenu a:active {
    transform: translateY(0.2rem) scale(1.25) rotate(2deg);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4); }

.book-store {
  height: auto;
  margin-top: 4rem; }

.books {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 8rem min-content 31rem min-content 19rem 22rem;
  justify-content: center; }
  @media only screen and (max-width: 75em) {
    .books {
      grid-template-rows: 8rem min-content 29rem min-content 19rem 24rem; } }
  @media only screen and (max-width: 56.25em) {
    .books {
      grid-template-rows: 8rem min-content 24rem min-content 19rem 20rem; } }
  @media only screen and (max-width: 26.6em) {
    .books {
      grid-template-rows: 7rem repeat(7, auto);
      grid-template-columns: repeat(9, 1fr); } }
  @media only screen and (max-width: 20.06em) {
    .books {
      grid-template-rows: 7rem repeat(10, auto);
      grid-template-columns: repeat(9, 1fr); } }
  .books__heading {
    display: grid;
    grid-column: 1 / -1;
    justify-items: center;
    height: 6rem; }
  .books__img-1 {
    display: grid;
    grid-column: 1 / 4;
    grid-row: 2 / 6;
    filter: drop-shadow(3px 6px 6px rgba(50, 50, 0, 0.8)); }
    @media only screen and (max-width: 26.6em) {
      .books__img-1 {
        grid-column: 3 / 8;
        grid-row: 3 / 4;
        margin-bottom: 3rem; } }
  .books__img-2 {
    display: grid;
    grid-column: 7 / 9;
    grid-row: 4 / 8;
    justify-items: end;
    filter: drop-shadow(-3px 6px 6px rgba(50, 50, 0, 0.8)); }
    @media only screen and (max-width: 26.6em) {
      .books__img-2 {
        grid-column: 2 / 5;
        grid-row: 6 / 7;
        margin-bottom: 3rem; } }
    @media only screen and (max-width: 20.06em) {
      .books__img-2 {
        grid-column: 3 / 8;
        grid-row: 6 / 7; } }
  .books__img-3 {
    display: grid;
    grid-column: 1 / 3;
    grid-row: 6 / 7;
    justify-items: end;
    filter: drop-shadow(-3px 6px 6px rgba(50, 50, 0, 0.8)); }
    @media only screen and (max-width: 26.6em) {
      .books__img-3 {
        grid-column: 6 / 9;
        grid-row: 6 / 7;
        margin-bottom: 3rem; } }
    @media only screen and (max-width: 20.06em) {
      .books__img-3 {
        grid-column: 3 / 8;
        grid-row: 8 / 9;
        margin-top: 2rem; } }
  .books__photo-1 {
    width: 100%;
    height: auto;
    clip-path: polygon(0% 0%, 90% 0, 100% 50%, 90% 100%, 0% 100%);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4); }
    @media only screen and (max-width: 26.6em) {
      .books__photo-1 {
        clip-path: none; } }
  .books__photo-2 {
    width: 100%;
    height: auto;
    clip-path: polygon(10% 0, 100% 1%, 100% 100%, 10% 100%, 0% 50%);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4); }
    @media only screen and (max-width: 26.6em) {
      .books__photo-2 {
        clip-path: none; } }
  .books__photo-3 {
    width: 100%;
    height: auto;
    clip-path: polygon(0% 0%, 90% 0, 100% 50%, 90% 100%, 0% 100%);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4); }
    @media only screen and (max-width: 26.6em) {
      .books__photo-3 {
        clip-path: none; } }
  .books__reading-1 {
    display: grid;
    grid-column: 4 / 8;
    grid-row: 2 / 3;
    margin-bottom: 1rem;
    padding-left: 4rem;
    color: #ae7560;
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    font-size: 3rem; }
    @media only screen and (max-width: 26.6em) {
      .books__reading-1 {
        grid-column: 5 / 6;
        grid-row: 2 / 3; } }
  .books__reading-2 {
    display: grid;
    grid-column: 2 / 5;
    grid-row: 4 / 5;
    margin: 2rem 0 1rem 0;
    padding-left: 2rem;
    color: #ae7560;
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    font-size: 3rem; }
    @media only screen and (max-width: 48em) {
      .books__reading-2 {
        grid-column: 1 / 5; } }
    @media only screen and (max-width: 26.6em) {
      .books__reading-2 {
        grid-column: 5 / 6;
        grid-row: 5 / 6;
        margin-bottom: 2rem; } }
  .books__text-1 {
    display: grid;
    grid-column: 4 / 9;
    grid-row: 3 / 4;
    padding: 0 4rem;
    color: #ae7560;
    font-family: 'Amatic SC', cursive;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    line-height: 1.5; }
    @media only screen and (max-width: 43.75em) {
      .books__text-1 {
        line-height: 1.2; } }
    @media only screen and (max-width: 26.6em) {
      .books__text-1 {
        grid-column: 2 / 9;
        grid-row: 4 / 5;
        text-align: justify; } }
  .books__text-2 {
    display: grid;
    grid-column: 2 / 7;
    grid-row: 5 / 6;
    padding: 0 2rem;
    color: #ae7560;
    font-family: 'Amatic SC', cursive;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    line-height: 1.5; }
    @media only screen and (max-width: 48em) {
      .books__text-2 {
        grid-column: 1 / 7; } }
    @media only screen and (max-width: 43.75em) {
      .books__text-2 {
        line-height: 1.2; } }
    @media only screen and (max-width: 26.6em) {
      .books__text-2 {
        grid-column: 2 / 5;
        grid-row: 7 / 8;
        padding: 0;
        text-align: justify; } }
    @media only screen and (max-width: 20.06em) {
      .books__text-2 {
        grid-column: 2 / 9;
        grid-row: 7 / 8;
        padding: 0 2rem; } }
  .books__text-3 {
    display: grid;
    grid-column: 3 / 8;
    grid-row: 6 / 7;
    padding: 0 3rem;
    line-height: 1.5;
    color: #ae7560;
    font-family: 'Amatic SC', cursive;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 0.1rem; }
    @media only screen and (max-width: 48em) {
      .books__text-3 {
        grid-column: 3 / 9; } }
    @media only screen and (max-width: 43.75em) {
      .books__text-3 {
        line-height: 1.2; } }
    @media only screen and (max-width: 26.6em) {
      .books__text-3 {
        grid-column: 6 / 9;
        grid-row: 7 / 8;
        padding: 0;
        text-align: justify; } }
    @media only screen and (max-width: 20.06em) {
      .books__text-3 {
        grid-column: 2 / 9;
        grid-row: 9 / 10;
        padding: 0 2rem; } }

.customers-reviews {
  background-image: linear-gradient(rgba(194, 194, 194, 0.7), rgba(226, 226, 226, 0.7)), url(/img/menu04.jpg);
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  margin: 2rem 0;
  padding-bottom: 1rem; }

.reviews__heading {
  display: grid;
  grid-column: 1 / -1;
  justify-items: center;
  margin-top: 4rem;
  height: 6rem; }

.reviews__user {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 14rem repeat(2, 32rem);
  column-gap: 10rem;
  padding: 0 5rem; }
  @media only screen and (max-width: 48em) {
    .reviews__user {
      grid-template-columns: 80%;
      grid-template-rows: 14rem 26rem 23rem 23rem 27rem; } }
  @media only screen and (max-width: 43.75em) {
    .reviews__user {
      grid-template-columns: 80%;
      grid-template-rows: 14rem 26rem 23rem 23rem 29rem; } }
  @media only screen and (max-width: 20.06em) {
    .reviews__user {
      grid-template-rows: 14rem 28rem 23rem 23rem 30rem; } }

.reviews__note {
  display: grid;
  justify-items: center;
  margin-bottom: 1rem; }

.reviews__text {
  color: #ae7560;
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  font-size: 2.3rem;
  background-color: rgba(255, 255, 255, 0.19);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  padding: 0 1.5rem;
  height: 4rem; }
  .reviews__text a:link,
  .reviews__text a:visited {
    display: inline-block;
    color: #f27e3a;
    text-decoration: none;
    transition: all .2s;
    padding: .5rem; }
  .reviews__text a:hover,
  .reviews__text a:active {
    transform: scale(1.25);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    background-color: #fff;
    border-radius: 2px;
    padding: .5rem; }

.review {
  display: flex;
  margin-bottom: 5rem;
  padding: 1.5rem;
  background-color: #422a22e3;
  position: relative;
  z-index: 1;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  border-radius: 2px;
  clip-path: polygon(0% 0%, 100% 0%, 100% 80.35%, 81.25% 80.34%, 82.83% 98.26%, 71.39% 80.91%, -1px 79.48%); }
  @media only screen and (max-width: 26.6em) {
    .review {
      clip-path: none; } }
  .review__quote {
    color: #ae7560;
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    font-size: 2.3rem; }
  .review__name {
    color: #ae7560;
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    font-size: 2rem;
    display: block;
    position: absolute;
    text-transform: uppercase;
    bottom: 6rem;
    right: 2rem; }
    @media only screen and (max-width: 26.6em) {
      .review__name {
        bottom: 2rem;
        right: 2rem; } }
  .review blockquote:before {
    content: "\201C";
    font-size: 1500%;
    color: #5f3c31c9;
    font-family: sans-serif;
    display: block;
    position: absolute;
    top: -8rem;
    left: -1rem;
    z-index: -1; }
    @media only screen and (max-width: 26.6em) {
      .review blockquote:before {
        top: -5rem; } }

.team {
  display: grid;
  justify-items: center; }
  .team__members {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
    padding: 0 12rem;
    margin-top: 2rem;
    gap: 4rem; }
    @media only screen and (max-width: 75em) {
      .team__members {
        grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
        padding: 0 6rem;
        gap: 5rem; } }
    @media only screen and (max-width: 48em) {
      .team__members {
        grid-template-columns: 100%;
        padding: 0 3rem;
        gap: 3rem; } }
  .team__heading {
    margin: 1rem 0 2.5rem 0;
    display: grid;
    grid-column: 1 / -1;
    justify-items: center; }
  .team__member {
    display: grid;
    justify-items: center;
    position: relative;
    border: 1px solid #f3f3f3;
    box-shadow: 1rem 1rem 1.3rem rgba(67, 43, 35, 0.6);
    transition: transform .2s; }
    @media only screen and (max-width: 48em) {
      .team__member {
        grid-template-columns: 30% 70%;
        padding: 0 3rem;
        gap: 1rem; } }
    @media only screen and (max-width: 20.06em) {
      .team__member {
        grid-template-columns: 20% 87%; } }
  .team__member:hover {
    transform: translateY(-0.5rem); }
    @media only screen and (max-width: 48em) {
      .team__member:hover {
        transform: none; } }
  .team__image {
    margin-top: 1rem;
    width: 20rem;
    height: 20rem;
    clip-path: polygon(30% 0%, 86% 0, 100% 13%, 100% 100%, 70% 100%, 12% 100%, 0 89%, 0 0); }
    @media only screen and (max-width: 48em) {
      .team__image {
        display: grid;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        margin-bottom: 1rem; } }
    @media only screen and (max-width: 20.06em) {
      .team__image {
        width: 13rem;
        height: 13rem; } }
  .team__text {
    display: grid;
    justify-items: center;
    padding: 0.3rem;
    height: 2.9rem;
    background-color: #422a22;
    transform: translateY(-50%);
    border-radius: 2px;
    letter-spacing: 0.1rem;
    width: 45%; }
    @media only screen and (max-width: 48em) {
      .team__text {
        position: absolute;
        top: 8rem;
        width: 15rem;
        transform: rotate(270deg) translateY(-350%);
        grid-column: 1 / 2;
        grid-row: 1 / 2; } }
    @media only screen and (max-width: 20.06em) {
      .team__text {
        left: 1rem;
        width: 9rem;
        transform: translateX(-10%) translateY(160%); } }
  .team__info {
    border-top: 1px solid rgba(67, 43, 35, 0.102);
    display: grid;
    padding: 2rem;
    color: #ae7560;
    text-align: justify;
    font-weight: bold;
    height: 27rem; }
    @media only screen and (max-width: 56.25em) {
      .team__info {
        height: 32rem; } }
    @media only screen and (max-width: 48em) {
      .team__info {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        height: auto; } }

.coffee-gallery {
  background-color: whitesmoke;
  margin-top: 4rem; }

.gallery {
  display: grid;
  justify-content: center;
  grid-template-rows: 15rem auto;
  background-color: whitesmoke; }
  .gallery__heading {
    display: grid;
    grid-column: 1 / -1;
    justify-items: center;
    margin-top: 4rem;
    height: 2rem; }
  .gallery__pictures {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 1rem;
    margin: 1rem;
    background-color: whitesmoke; }
  .gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .gallery__item--1 {
    display: grid;
    grid-row: 3 / 6;
    grid-column: 2 / 5; }
  .gallery__item--2 {
    display: grid;
    grid-row: 6 / 9;
    grid-column: 8 / 9; }
  .gallery__item--3 {
    display: grid;
    grid-row: 6 / 9;
    grid-column: 5 / 8; }
  .gallery__item--4 {
    display: grid;
    grid-row: 1 / 4;
    grid-column: 1 / 2; }
  .gallery__item--5 {
    display: grid;
    grid-row: 4 / 6;
    grid-column: 5 / 7; }
  .gallery__item--6 {
    display: grid;
    grid-row: 1 / 4;
    grid-column: 6 / 9; }
  .gallery__item--7 {
    display: grid;
    grid-row: 7 / 9;
    grid-column: 1 / 3; }
  .gallery__item--8 {
    display: grid;
    grid-row: 6 / 8;
    grid-column: 3 / 5; }
  .gallery__item--9 {
    display: grid;
    grid-row: 4 / 6;
    grid-column: 7 / 9; }
  .gallery__item--10 {
    display: grid;
    grid-row: 1 / 4;
    grid-column: 5 / 6; }
  .gallery__item--11 {
    display: grid;
    grid-row: 1 / 3;
    grid-column: 3 / 5; }
  .gallery__item--12 {
    display: grid;
    grid-row: 8 / 9;
    grid-column: 3 / 4; }
  .gallery__item--13 {
    display: grid;
    grid-row: 8 / 9;
    grid-column: 4 / 5; }
  .gallery__item--14 {
    display: grid;
    grid-row: 4 / 7;
    grid-column: 1 / 2; }
  .gallery__item--15 {
    display: grid;
    grid-row: 1 / 3;
    grid-column: 2 / 3; }
  .gallery__item--16 {
    display: grid;
    grid-row: 6 / 7;
    grid-column: 2 / 3; }

.map {
  display: grid;
  justify-content: center;
  grid-template-columns: 60% 30%;
  grid-template-rows: 10rem repeat(3, 1fr) auto;
  padding: 1.5rem;
  background-image: linear-gradient(rgba(255, 255, 255, 0.89), rgba(255, 255, 255, 0.89)), url(/img/bckmap.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-color: whitesmoke; }
  @media only screen and (max-width: 48em) {
    .map {
      grid-template-columns: 50% 50%;
      grid-template-rows: 12rem auto auto 50rem auto; } }
  @media only screen and (max-width: 26.6em) {
    .map {
      grid-template-columns: 100%;
      grid-template-rows: 12rem auto auto 14rem 25rem auto; } }
  .map__heading {
    display: grid;
    grid-column: 1 / -1;
    justify-items: center;
    margin: 2rem 0 4rem 0; }
  .map__google {
    border: 1px solid #dddddd;
    border-radius: 6px;
    display: grid;
    grid-row: 3 / 5;
    grid-column: 1 / 2;
    padding: 1rem; }
    @media only screen and (max-width: 48em) {
      .map__google {
        grid-column: 1 / 3;
        grid-row: 4 / 5;
        width: 80%;
        justify-self: center; } }
    @media only screen and (max-width: 26.6em) {
      .map__google {
        grid-column: 1 / 2;
        grid-row: 5 / 6;
        width: 90%; } }
  .map__adress {
    display: grid;
    justify-self: center;
    align-content: center;
    grid-row: 3 / 4;
    grid-column: 2 / 3; }
    @media only screen and (max-width: 48em) {
      .map__adress {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
        margin-bottom: 2rem; } }
    @media only screen and (max-width: 26.6em) {
      .map__adress {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
        justify-items: center; } }
    .map__adress p {
      margin-bottom: 0.7rem; }
  .map__social {
    display: grid;
    grid-row: 4 / 5;
    grid-column: 2 / 3;
    justify-self: center;
    align-self: center; }
    @media only screen and (max-width: 48em) {
      .map__social {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
        margin-bottom: 2rem; } }
    @media only screen and (max-width: 26.6em) {
      .map__social {
        display: flex;
        grid-column: 1 / 2;
        grid-row: 4 / 5; } }
    .map__social p {
      font-size: 3rem;
      display: grid;
      grid-template-columns: repeat(3, minmax(1rem, auto));
      align-items: center;
      justify-self: left;
      padding: .5rem 0; }
      @media only screen and (max-width: 26.6em) {
        .map__social p {
          grid-template-columns: auto;
          justify-items: center;
          justify-content: space-between;
          margin-right: 1rem;
          font-size: 2.5rem; } }
      @media only screen and (max-width: 23.5em) {
        .map__social p {
          grid-template-columns: auto;
          justify-items: center;
          justify-content: space-between;
          margin-right: 2rem;
          font-size: 2.2rem; } }
      @media only screen and (max-width: 20.06em) {
        .map__social p {
          grid-template-columns: auto;
          justify-items: center;
          justify-content: space-between;
          margin-right: 2rem; } }
  .map__info {
    display: grid;
    grid-row: 2 / 3;
    grid-column: 1 / 3;
    padding: 2rem;
    letter-spacing: 0.1rem;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.39);
    border: 1px solid #dddddd;
    border-radius: 6px;
    margin-bottom: 4rem; }
    @media only screen and (max-width: 26.6em) {
      .map__info {
        grid-column: 1 / 2;
        grid-row: 2 / 3; } }
    .map__info p {
      margin-bottom: 1rem; }
  .map__footer {
    display: grid;
    grid-row: 5 / 6;
    grid-column: 1 / -1;
    padding: 2rem;
    letter-spacing: 0.1rem;
    font-weight: bold;
    border: 1px solid #dddddd;
    border-radius: 6px; }
    @media only screen and (max-width: 26.6em) {
      .map__footer {
        grid-column: 1 / 2;
        grid-row: 6 / 7; } }
    .map__footer p {
      margin-bottom: 1rem; }

.instagram-link a:link,
.instagram-link a:visited {
  font-family: 'Amatic SC', cursive;
  display: inline-block;
  color: #f27e3a;
  text-decoration: none;
  transition: all .2s; }

.instagram-link a:hover,
.instagram-link a:active {
  transform: translateX(0.2rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4); }

.facebook-link a:link,
.facebook-link a:visited {
  font-family: 'Amatic SC', cursive;
  display: inline-block;
  color: #f27e3a;
  text-decoration: none;
  transition: all .2s; }

.facebook-link a:hover,
.facebook-link a:active {
  transform: translateX(0.2rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4); }

.adress__name {
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 3rem;
  text-shadow: 1px 2px 1px #f27e3a; }
  @media only screen and (max-width: 48em) {
    .adress__name {
      font-size: 4rem; } }

.adress__street, .adress__code, .adress__opening {
  font-size: 2.5rem; }
  @media only screen and (max-width: 48em) {
    .adress__street, .adress__code, .adress__opening {
      font-size: 3rem; } }

.footer {
  display: grid;
  justify-items: center;
  align-items: center;
  width: 100%;
  height: 10rem;
  background-color: #000; }
  .footer__list {
    list-style: none;
    display: grid;
    justify-items: center;
    align-items: center; }

.copyright {
  color: #f27e3a;
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: .5rem;
  margin-bottom: 1rem; }
  @media only screen and (max-width: 56.25em) {
    .copyright {
      font-size: 2.6rem; } }
  @media only screen and (max-width: 43.75em) {
    .copyright {
      font-size: 2.1rem;
      letter-spacing: .2rem; } }
  @media only screen and (max-width: 26.6em) {
    .copyright {
      font-size: 1.5rem;
      letter-spacing: .1rem; } }

.design {
  color: #f27e3a;
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: .6rem; }
  @media only screen and (max-width: 43.75em) {
    .design {
      font-size: 1.4rem;
      letter-spacing: .4rem; } }

.h2svg {
  width: 4rem;
  height: 4rem;
  fill: #000;
  margin-right: 1rem; }

.contactsvg {
  width: 3rem;
  height: 3rem;
  fill: #000; }

.infosvg {
  margin-right: 0.5rem;
  width: 1.8rem;
  height: 1.8rem;
  fill: #000; }

.menusvg {
  margin-right: 0.5rem;
  width: 4rem;
  height: 4rem;
  fill: #000; }

.header-alt {
  height: 20rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  display: grid;
  grid-template-rows: 5rem 6rem;
  justify-items: center;
  align-items: end;
  background-color: #000; }
  @media only screen and (max-width: 20.06em) {
    .header-alt {
      height: 20rem; } }
  .header-alt__logo {
    border-radius: 50%; }
  .header-alt__logo-1 {
    display: grid;
    border-radius: 50%;
    justify-items: center;
    align-self: flex-end;
    width: 25rem;
    height: 25rem; }
  .header-alt__text {
    display: grid;
    grid-row: 2 / 3;
    justify-self: center;
    align-self: flex-end;
    text-transform: uppercase;
    letter-spacing: 0.7rem;
    border-bottom: 1px solid #f27e3a;
    text-shadow: 2px 2px 0px #000; }
  .header-alt a:link,
  .header-alt a:visited {
    font-family: 'Amatic SC', cursive;
    display: inline-block;
    color: #f27e3a;
    text-decoration: none;
    transition: all .2s; }
  .header-alt a:hover,
  .header-alt a:active {
    transform: translateX(0.2rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4); }

.menu-bracket {
  font-family: 'Amatic SC', cursive;
  font-size: 1.8rem;
  color: #bebebe; }

.menu-items__full-1 {
  display: grid;
  justify-content: center;
  background-color: #000;
  padding: 1.5rem;
  border-bottom: dotted 2px #EB600F; }
  .menu-items__full-1 ul,
  .menu-items__full-1 li {
    list-style: none;
    padding: .5rem; }

.menu-items__heading {
  display: grid;
  justify-items: center;
  padding-bottom: 2rem; }
  .menu-items__heading p {
    font-size: 5rem;
    font-family: 'Amatic SC', cursive;
    color: #EB600F; }

.menu-items__desserts {
  display: grid;
  grid-template-columns: repeat(3, 20.5rem 9rem);
  grid-template-rows: 5rem 20rem 5rem 52rem;
  width: 100%;
  justify-content: center;
  margin-top: 2.5rem;
  font-family: 'Amatic SC', cursive;
  color: #fff;
  background-color: #000; }
  @media only screen and (max-width: 48em) {
    .menu-items__desserts {
      grid-template-columns: repeat(auto-fit, 20.5rem 6rem); } }
  @media only screen and (max-width: 37.5em) {
    .menu-items__desserts {
      grid-template-columns: 20rem 9rem 17rem 9rem;
      grid-template-rows: 5rem 18rem 5rem 29rem 5rem 52rem; } }
  @media only screen and (max-width: 20.06em) {
    .menu-items__desserts {
      grid-template-columns: 19rem 8rem 17rem 4rem; } }

.menu-items__snacks {
  font-size: 3.7rem;
  display: grid;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  color: #EB600F;
  border-bottom: 1px solid rgba(255, 94, 0, 0.212); }

.menu-items__snacks-name {
  font-size: 2.3rem;
  display: grid;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  color: #fff; }

.menu-items__snacks-price {
  font-size: 3.7rem;
  display: grid;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  border-bottom: 1px solid rgba(255, 94, 0, 0.212); }

.menu-items__snacks-prices {
  font-size: 2.3rem;
  display: grid;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  color: #fff; }

.menu-items__tortilla {
  font-size: 3.7rem;
  display: grid;
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  color: #EB600F;
  border-bottom: 1px solid rgba(255, 94, 0, 0.212); }

.menu-items__tortilla-name {
  font-size: 2.3rem;
  display: grid;
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  color: #fff; }

.menu-items__tortilla-price {
  font-size: 3.7rem;
  display: grid;
  grid-column: 4 / 5;
  grid-row: 1 / 2;
  border-bottom: 1px solid rgba(255, 94, 0, 0.212); }

.menu-items__tortilla-prices {
  font-size: 2.3rem;
  display: grid;
  grid-column: 4 / 5;
  grid-row: 2 / 3;
  color: #fff; }

.menu-items__salad {
  font-size: 3.7rem;
  display: grid;
  grid-column: 5 / 6;
  grid-row: 1 / 2;
  color: #EB600F;
  border-bottom: 1px solid rgba(255, 94, 0, 0.212); }
  @media only screen and (max-width: 37.5em) {
    .menu-items__salad {
      grid-column: 1 / 2;
      grid-row: 3 / 4; } }

.menu-items__salad-name {
  font-size: 2.3rem;
  display: grid;
  grid-column: 5 / 6;
  grid-row: 2 / 3;
  color: #fff; }
  @media only screen and (max-width: 37.5em) {
    .menu-items__salad-name {
      grid-column: 1 / 2;
      grid-row: 4 / 5; } }

.menu-items__salad-price {
  font-size: 3.7rem;
  display: grid;
  grid-column: 6 / 7;
  grid-row: 1 / 2;
  border-bottom: 1px solid rgba(255, 94, 0, 0.212); }
  @media only screen and (max-width: 37.5em) {
    .menu-items__salad-price {
      grid-column: 2 / 3;
      grid-row: 3 / 4; } }

.menu-items__salad-prices {
  font-size: 2.3rem;
  display: grid;
  grid-column: 6 / 7;
  grid-row: 2 / 3;
  color: #fff; }
  @media only screen and (max-width: 37.5em) {
    .menu-items__salad-prices {
      grid-column: 2 / 3;
      grid-row: 4 / 5; } }

.menu-items__sandwich {
  font-size: 3.7rem;
  display: grid;
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  color: #EB600F;
  border-bottom: 1px solid rgba(255, 94, 0, 0.212); }
  @media only screen and (max-width: 37.5em) {
    .menu-items__sandwich {
      grid-column: 3 / 4;
      grid-row: 3 / 4; } }

.menu-items__sandwich-name {
  font-size: 2.3rem;
  display: grid;
  grid-column: 1 / 2;
  grid-row: 4 / 5;
  color: #fff; }
  @media only screen and (max-width: 37.5em) {
    .menu-items__sandwich-name {
      grid-column: 3 / 4;
      grid-row: 4 / 5; } }

.menu-items__sandwich-price {
  font-size: 3.7rem;
  display: grid;
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  border-bottom: 1px solid rgba(255, 94, 0, 0.212); }
  @media only screen and (max-width: 37.5em) {
    .menu-items__sandwich-price {
      grid-column: 4 / 5;
      grid-row: 3 / 4; } }

.menu-items__sandwich-prices {
  font-size: 2.3rem;
  display: grid;
  grid-column: 2 / 3;
  grid-row: 4 / 5;
  color: #fff; }
  @media only screen and (max-width: 37.5em) {
    .menu-items__sandwich-prices {
      grid-column: 4 / 5;
      grid-row: 4 / 5; } }

.menu-items__dessert {
  font-size: 3.7rem;
  display: grid;
  grid-column: 3 / 4;
  grid-row: 3 / 4;
  color: #EB600F;
  border-bottom: 1px solid rgba(255, 94, 0, 0.212); }
  @media only screen and (max-width: 37.5em) {
    .menu-items__dessert {
      grid-column: 1 / 2;
      grid-row: 5 / 6; } }

.menu-items__dessert-name {
  font-size: 2.3rem;
  display: grid;
  grid-column: 3 / 4;
  grid-row: 4 / 5;
  color: #fff; }
  @media only screen and (max-width: 37.5em) {
    .menu-items__dessert-name {
      grid-column: 1 / 2;
      grid-row: 6 / 7; } }

.menu-items__dessert-price {
  font-size: 3.7rem;
  display: grid;
  grid-column: 4 / 5;
  grid-row: 3 / 4;
  border-bottom: 1px solid rgba(255, 94, 0, 0.212); }
  @media only screen and (max-width: 37.5em) {
    .menu-items__dessert-price {
      grid-column: 2 / 3;
      grid-row: 5 / 6; } }

.menu-items__dessert-prices {
  font-size: 2.3rem;
  display: grid;
  grid-column: 4 / 5;
  grid-row: 4 / 5;
  color: #fff; }
  @media only screen and (max-width: 37.5em) {
    .menu-items__dessert-prices {
      grid-column: 2 / 3;
      grid-row: 6 / 7; } }

.menu-items__ice {
  font-size: 3.7rem;
  display: grid;
  grid-column: 5 / 6;
  grid-row: 3 / 4;
  color: #EB600F;
  border-bottom: 1px solid rgba(255, 94, 0, 0.212); }
  @media only screen and (max-width: 37.5em) {
    .menu-items__ice {
      grid-column: 3 / 4;
      grid-row: 5 / 6; } }

.menu-items__ice-name {
  font-size: 2.3rem;
  display: grid;
  grid-column: 5 / 6;
  grid-row: 4 / 5;
  color: #fff; }
  @media only screen and (max-width: 37.5em) {
    .menu-items__ice-name {
      grid-column: 3 / 4;
      grid-row: 6 / 7; } }

.menu-items__ice-price {
  font-size: 3.7rem;
  display: grid;
  grid-column: 6 / 7;
  grid-row: 3 / 4;
  border-bottom: 1px solid rgba(255, 94, 0, 0.212); }
  @media only screen and (max-width: 37.5em) {
    .menu-items__ice-price {
      grid-column: 4 / 5;
      grid-row: 5 / 6; } }

.menu-items__ice-prices {
  font-size: 2.3rem;
  display: grid;
  grid-column: 6 / 7;
  grid-row: 4 / 5;
  color: #fff; }
  @media only screen and (max-width: 37.5em) {
    .menu-items__ice-prices {
      grid-column: 4 / 5;
      grid-row: 6 / 7; } }

.menu-items__full-2 {
  display: grid;
  justify-content: center;
  background-color: #000;
  border-bottom: dotted 2px #EB600F; }
  .menu-items__full-2 ul,
  .menu-items__full-2 li {
    list-style: none;
    padding: .5rem; }

.menu-items__main {
  display: grid;
  grid-template-columns: repeat(2, 25rem 10rem);
  grid-template-rows: 5rem 57rem;
  width: 100%;
  justify-content: center;
  margin-top: 2rem;
  font-family: 'Amatic SC', cursive;
  color: #fff;
  background-color: #000; }
  @media only screen and (max-width: 48em) {
    .menu-items__main {
      grid-template-columns: repeat(auto-fit, 23.5rem 7rem); } }
  @media only screen and (max-width: 23.5em) {
    .menu-items__main {
      grid-template-columns: repeat(auto-fit, 24.5rem 7rem);
      grid-template-rows: 5rem 57rem 5rem 45rem; } }

.menu-items__pasta {
  font-size: 3.7rem;
  display: grid;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  color: #EB600F;
  border-bottom: 1px solid rgba(255, 94, 0, 0.212); }

.menu-items__pasta-name {
  font-size: 2.3rem;
  display: grid;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  color: #fff; }

.menu-items__pasta-price {
  font-size: 3.7rem;
  display: grid;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  border-bottom: 1px solid rgba(255, 94, 0, 0.212); }

.menu-items__pasta-prices {
  font-size: 2.3rem;
  display: grid;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  color: #fff; }

.menu-items__polish {
  font-size: 3.7rem;
  display: grid;
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  color: #EB600F;
  border-bottom: 1px solid rgba(255, 94, 0, 0.212); }
  @media only screen and (max-width: 23.5em) {
    .menu-items__polish {
      grid-column: 1 / 2;
      grid-row: 3 / 4; } }

.menu-items__polish-name {
  font-size: 2.3rem;
  display: grid;
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  color: #fff; }
  @media only screen and (max-width: 23.5em) {
    .menu-items__polish-name {
      grid-column: 1 / 2;
      grid-row: 4 / 5; } }

.menu-items__polish-price {
  font-size: 3.7rem;
  display: grid;
  grid-column: 4 / 5;
  grid-row: 1 / 2;
  border-bottom: 1px solid rgba(255, 94, 0, 0.212); }
  @media only screen and (max-width: 23.5em) {
    .menu-items__polish-price {
      grid-column: 2 / 3;
      grid-row: 3 / 4; } }

.menu-items__polish-prices {
  font-size: 2.3rem;
  display: grid;
  grid-column: 4 / 5;
  grid-row: 2 / 3;
  color: #fff; }
  @media only screen and (max-width: 23.5em) {
    .menu-items__polish-prices {
      grid-column: 2 / 3;
      grid-row: 4 / 5; } }

.menu-items__full-3 {
  display: grid;
  justify-content: center;
  background-color: #000;
  border-bottom: dotted 2px #EB600F; }
  .menu-items__full-3 ul,
  .menu-items__full-3 li {
    list-style: none;
    padding: .5rem; }

.menu-items__drinks {
  display: grid;
  grid-template-columns: 31rem 10rem 21rem 10rem;
  grid-template-rows: 5rem 15rem 5rem 25rem 5rem 35rem;
  width: 100%;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 2rem;
  font-family: 'Amatic SC', cursive;
  color: #fff;
  background-color: #000; }
  @media only screen and (max-width: 26.6em) {
    .menu-items__drinks {
      grid-template-columns: 30rem 6rem 21rem 5rem; } }
  @media only screen and (max-width: 20.06em) {
    .menu-items__drinks {
      grid-template-columns: 31rem 7rem;
      grid-template-rows: 5rem 79rem 5rem 11rem 5rem 19rem 5rem 30rem; } }

.menu-items__coffee {
  font-size: 3.7rem;
  color: #EB600F;
  display: grid;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  border-bottom: 1px solid rgba(255, 94, 0, 0.212); }

.menu-items__coffee-name {
  font-size: 2.3rem;
  display: grid;
  grid-column: 1 / 2;
  grid-row: 2 / 7;
  color: #fff; }

.menu-items__coffee-price {
  font-size: 3.7rem;
  display: grid;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  border-bottom: 1px solid rgba(255, 94, 0, 0.212); }

.menu-items__coffee-prices {
  font-size: 2.3rem;
  display: grid;
  grid-column: 2 / 3;
  grid-row: 2 / 7;
  color: #fff; }

.menu-items__tea {
  font-size: 3.7rem;
  display: grid;
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  color: #EB600F;
  border-bottom: 1px solid rgba(255, 94, 0, 0.212); }
  @media only screen and (max-width: 20.06em) {
    .menu-items__tea {
      grid-column: 1 / 2;
      grid-row: 3 / 4; } }

.menu-items__tea-name {
  font-size: 2.3rem;
  display: grid;
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  color: #fff; }
  @media only screen and (max-width: 20.06em) {
    .menu-items__tea-name {
      grid-column: 1 / 2;
      grid-row: 4 / 5; } }

.menu-items__tea-price {
  font-size: 3.7rem;
  display: grid;
  grid-column: 4 / 5;
  grid-row: 1 / 2;
  border-bottom: 1px solid rgba(255, 94, 0, 0.212); }
  @media only screen and (max-width: 20.06em) {
    .menu-items__tea-price {
      grid-column: 2 / 3;
      grid-row: 3 / 4; } }

.menu-items__tea-prices {
  font-size: 2.3rem;
  display: grid;
  grid-column: 4 / 5;
  grid-row: 2 / 3;
  color: #fff; }
  @media only screen and (max-width: 20.06em) {
    .menu-items__tea-prices {
      grid-column: 2 / 3;
      grid-row: 4 / 5; } }

.menu-items__chocolate {
  font-size: 3.7rem;
  display: grid;
  grid-column: 3 / 4;
  grid-row: 3 / 4;
  color: #EB600F;
  border-bottom: 1px solid rgba(255, 94, 0, 0.212); }
  @media only screen and (max-width: 20.06em) {
    .menu-items__chocolate {
      grid-column: 1 / 2;
      grid-row: 5 / 6; } }

.menu-items__chocolate-name {
  font-size: 2.3rem;
  display: grid;
  grid-column: 3 / 4;
  grid-row: 4 / 5; }
  @media only screen and (max-width: 20.06em) {
    .menu-items__chocolate-name {
      grid-column: 1 / 2;
      grid-row: 6 / 7; } }

.menu-items__chocolate-price {
  font-size: 3.7rem;
  display: grid;
  grid-column: 4 / 5;
  grid-row: 3 / 4;
  border-bottom: 1px solid rgba(255, 94, 0, 0.212); }
  @media only screen and (max-width: 20.06em) {
    .menu-items__chocolate-price {
      grid-column: 2 / 3;
      grid-row: 5 / 6; } }

.menu-items__chocolate-prices {
  font-size: 2.3rem;
  display: grid;
  grid-column: 4 / 5;
  grid-row: 4 / 5;
  color: #fff; }
  @media only screen and (max-width: 20.06em) {
    .menu-items__chocolate-prices {
      grid-column: 2 / 3;
      grid-row: 6 / 7;
      line-height: 1; } }

.menu-items__drink {
  font-size: 3.7rem;
  display: grid;
  grid-column: 3 / 4;
  grid-row: 5 / 6;
  color: #EB600F;
  border-bottom: 1px solid rgba(255, 94, 0, 0.212); }
  @media only screen and (max-width: 20.06em) {
    .menu-items__drink {
      grid-column: 1 / 2;
      grid-row: 7 / 8; } }

.menu-items__drink-name {
  font-size: 2.3rem;
  display: grid;
  grid-column: 3 / 4;
  grid-row: 6 / 7; }
  @media only screen and (max-width: 20.06em) {
    .menu-items__drink-name {
      grid-column: 1 / 2;
      grid-row: 8 / 9; } }

.menu-items__drink-price {
  font-size: 3.7rem;
  display: grid;
  grid-column: 4 / 5;
  grid-row: 5 / 6;
  border-bottom: 1px solid rgba(255, 94, 0, 0.212); }
  @media only screen and (max-width: 20.06em) {
    .menu-items__drink-price {
      grid-column: 2 / 3;
      grid-row: 7 / 8; } }

.menu-items__drink-prices {
  font-size: 2.3rem;
  display: grid;
  grid-column: 4 / 5;
  grid-row: 6 / 7;
  color: #fff; }
  @media only screen and (max-width: 20.06em) {
    .menu-items__drink-prices {
      grid-column: 2 / 3;
      grid-row: 8 / 9;
      line-height: 1.08; } }
